body
{
    font-family:"Merriweather" ,sans-serif;
    text-align:center;
    margin:0;
}

.top-container{
    background-color:#EFFFFD;
    position:relative;
    padding-bottom:100px;
    padding-top: 100px;
}

h1
{
    margin:25px auto 0 auto;
    font-family: "sacramento", cursive;
    font-size:5rem;
    color:  #66BFBF;
    line-height: 2;
}
h2
{
    font-family:"montserrat", sans-serif;
    font-size: 2rem;
    color:  #66BFBF;
    font-weight:normal;
}
h3{
    font-family:"montserrat", sans-serif;
    color: #11999E;
}
a{
    color:#11999E
}


.top-cloud 
{
    position:absolute;
    right:450px;
    top:50px;
}
.bottom-cloud
{
    position:absolute;
    left:500px;
    bottom:400px;
}
.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align:left;
    list-style: 2;
    padding: 10px;
}

.skill-1
{
    width:25%; 
    float:left;
    margin-right: 30px;
}
.skill-2
{

    width:25%; 
    float:right;
    margin-right: 30px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }